@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  vertical-align: top;
}

.button {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  text-decoration: none;
  vertical-align: center;
  text-align: center;
  text-transform: uppercase;
}

.page-navigation {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
}

.navigation-button {
  text-decoration: none;
  background-color: #756157;
  text-align: center;
  vertical-align: center;

}

.main-index {
  text-align: center;
}

.image-container {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background-top.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-subdescription {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  color: #333333;
}

.advantages-item:first-child,
.advantages-item:nth-child(2) {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-inner-item {
  color: #000000;
}

.advantages-inner-item:first-child,
.advantages-inner-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-inner-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-inner-description {
  color: #333333;
}

.blue-background {
  background-color: rgba(131, 179, 211, 0.12);
}

.darktblue-background {
  background-color: rgba(131, 179, 211, 0.2);
}

.hotel-search-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.button-hotel-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #756157;
}

.email-subscribe {
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  vertical-align: top;
}

.smooth-background {
  background-image: url("../images/background-smooth.jpg");
  background-position: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
font-size: 30px;
line-height: 36px;
font-weight: 700;
text-transform: uppercase;
text-align: left;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.subscribe-form input {
  background-color: #f2f2f2;
}
