@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

/*КНОПКИ*/
.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.button-more {
  background-color: #756157;
}

.button-delete {
  font-weight: 400;
  background-color: transparent;
  text-transform: capitalize;
}

.button-favorite-added {
  background-color: #7DB54F;
}

.navigation-button {
  background-color: #756157;
  text-decoration: none;
  text-align: center;
}

.button-hotel-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #756157;
  text-transform: uppercase;
}

/*ГЛАВНАЯ. ОСНОВНОЕ МЕНЮ-НАВИГАЦИЯ*/
.page-navigation {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
}
/*ОСНОВНАЯ ЧАСТЬ*/
.main-index {
  text-align: center;
}

.index-image-container {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background-top.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-subdescription {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
/*СПИСОК ПРЕИМУЩЕСТВ*/
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

 .advantages-item-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-lightblue {
  background-color: #F0F6FA;
  color:#000000
}

.advantages-item-darktblue {
  background-color: #E6F0F6;
  color:#000000
}

.advantages-item-white {
  background-color: #FFFFFF;
  color:#000000
}

.advantages-description-dark {
  color:#333333;
}

/*ФОРМА ПОИСКА*/
.hotel-search-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
/*СЕКЦИЯ ПОДПИСКИ НА РАССЫЛКУ*/
.email-subscribe-main {
  background-image: url("../images/background-smooth.jpg");
  background-position: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
}

.subscribe-title {
font-size: 30px;
line-height: 36px;
font-weight: 700;
text-transform: uppercase;
text-align: left;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-button {
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 36px;
}

.subscribe-form input {
  background-color: #f2f2f2;
}

.email-subscribe-catalog {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}
/*ФУТЕР*/
.contacts-phone-link {
  font-size: 40px;
  line-height: 40px;
  color:#000000;
  text-decoration: none;
}
/*КАТАЛОГ. ОСНОВНАЯ ЧАСТЬ. ХЕДЕР-ДЛЯ ПОИСКА ГОСТИНИЦЫ*/
.catalog-header {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background-catalog.jpg");
  background-position: 100% auto;
  background-repeat: no-repeat;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
/*ХЛЕБНЫЕ КРОШКИ*/
.breadcrumbs-item {
  font-size: 16px;
}
/*ФОРМА ПОИСКА ГОСТИНИЦЫ*/
.hotel-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

/*РЕЗУЛЬТАТЫ ПОИСКА*/
.hotel-search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
/*ОТОБРАЖЕНИЕ НА СТРАНИЦЕ*/
.select-control {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  color:#333333;
}
/*КАРТОЧКИ ГОСТИНИЦ*/
.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#000000;
  text-decoration: none;
}

.hotel-card-type {
  color: #333333;
}

.hotel-card-price {
  color: #333333;
}

.hotel-card-rate {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
/*ПАГИНАЦИЯ*/
.pagination-link {
  color:#ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color:#000000;
  background-color: #f2f2f2;
}

.hotel-on-page {
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  color:#333333;
}
