@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*КНОПКИ*/
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  display: block;
  width: 160px;
  height: 37px;
}

.brown-button {
  background-color: #756157;
}

.green-button {
  background-color: #7DB54F;
}

.transparent-button {
  font-weight: 400;
  background-color: transparent;
  text-transform: capitalize;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
  margin: 0 auto;
  width: 574px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
}

.pagination-button {
  font-size: 20px;
  line-height: 36px;
}

.pagination-current-button {
  color: #000000;
  background-color: #f2f2f2;
}

/*ГЛАВНАЯ. ОСНОВНОЕ МЕНЮ-НАВИГАЦИЯ*/
.page-navigation {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
}
/*ОСНОВНАЯ ЧАСТЬ*/
.main-index {
  text-align: center;
}

.page-navigation {
  display: flex;
  padding: 0 70px;
}

.navigavion-list {
  width: 500px;
}

.navigavion-user {
  max-width: 310px;
  margin-left: auto;
}

.main-header-logo {
  display: block;
  margin-right: 30px;
}

.smooth-img-container {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background-top.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-subdescription {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
/*СПИСОК ПРЕИМУЩЕСТВ*/
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-flex {
  display: flex;
  flex-wrap: wrap;
}

.advantages-sublist {
  display: flex;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item-blue {
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 400px;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.advantages-item-lightblue {
  background-color: #F0F6FA;
  color: #000000;
  width: 400px;
}

.advantages-item-darktblue {
  background-color: #E6F0F6;
  color: #000000;
  width: 400px;
}

.advantages-item-white {
  background-color: #FFFFFF;
  color: #000000;
  width: 400px;
}

.advantages-description-dark {
  color: #333333;
}
/*ФОРМА ПОИСКА*/
.hotel-search-question {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
/*СЕКЦИЯ ПОДПИСКИ НА РАССЫЛКУ*/
.email-subscribe {
  text-align: center;
}

.smooth-background {
  background-image: url("../images/background-smooth.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.text-input {
  background-color: #f2f2f2;
}

/*ФУТЕР*/
.page-footer {
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.social-networks {
  width: 170px;
}

.contacts-phone-link {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.htmlacademy-logo-link {
  width: 115px;
}
/*КАТАЛОГ. ОСНОВНАЯ ЧАСТЬ. ХЕДЕР-ДЛЯ ПОИСКА ГОСТИНИЦЫ*/
.catalog-header-wrapper {
  width: 1060px;
  margin: 0 auto;
}

.catalog-header {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/background-catalog.jpg");
  background-position: 100% auto;
  background-repeat: no-repeat;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}
/*ХЛЕБНЫЕ КРОШКИ*/
.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  font-size: 16px;
}
/*ФОРМА ПОИСКА ГОСТИНИЦЫ*/
.hotel-search-filter {
  display: flex;
}

.hotel-search-wrapper {
  display: flex;
  width: 380px;
  justify-content: space-between;
}

.search-buttons-wrapper {
  margin-left: auto;
}

.hotel-filter-group {
  width: 155px;
  margin: 0;
  padding: 0;
  border: 0;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}
/*РЕЗУЛЬТАТЫ ПОИСКА*/
.hotel-search-results {
  padding: 0 70px;
}

.hotel-search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 191px;
}

.search-results-wrapper {
  display: flex;
}

.view-buttons {
  margin-left: auto;
  width: 160px;
}
/*ОТОБРАЖЕНИЕ НА СТРАНИЦЕ*/
.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 290px;
}
/*КАРТОЧКИ ГОСТИНИЦ*/
.hotel-list {
  display: flex;
  flex-wrap: wrap;
}

.hotel-card {
  width: 300px;
  margin-right: 18px;
  padding: 20px;
}

.hotel-card:nth-child(3n) {
  margin-right: 0;
}

.hotel-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-card-type {
  color: #333333;
}

.hotel-card-price {
  color: #333333;
}

.hotel-card-rate {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
/*ПАГИНАЦИЯ*/
.pagination-wrapper {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

.select-wrapper {
  width: 386px;
}
